.c-mainNav {
  .is-searchTop {
    &__search {
      width: calc(100% - (100px));
    }
  }

  &.isSearchSub {
    height: 3.5rem;
    padding-top: 0.5rem;
  }
  &__mask {
    position: absolute;
    height: 40px;
    width: 100vw;
    top: 5px;
    left: 0;
  }
}

.c-mainNav__sub {
  &.isSearchSub {
    height: 3.5rem;
    padding-bottom: 0.5rem;
  }
}
