@import '@styles/mobile/konsta_override';

.c-recharge__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;

    & .note-transfer-bank {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
        background-color: #f8ffff;
        color: #276f86;

        label {
            color: #0e566c;
            font-weight: bold;
            font-size: 1.14285714em;
            display: block;
            margin-bottom: 0.5rem;
        }
    }

    & .info-transfer-bank {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0.0625rem solid rgba(231, 234, 243, 0.7);
        border-radius: 0.75rem;
        box-shadow: 0px 6px 12px rgba(140, 152, 164, 0.075);
        & .info-title-transfer-bank {
            display: flex;
            justify-content: space-between;
            white-space: inherit;
            flex-direction: row;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: transparent;
            padding: 1.3125rem 1.3125rem;
            color: #0056b3;
            font-weight: 600;
            line-height: 1.4;
            font-size: 1.1484375rem;
            border-bottom: 0.0625rem solid rgba(231, 234, 243, 0.7);
        }
        & .QR-transfer-bank {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            line-height: 1.4;
            h3 {
                color: #1e2022;
                font-size: 1.1484375rem;
            }
            h5 {
                color: #f39c12;
            }
        }
    }
}