.sidebarWrapper {
  :global {
    .sidebar-content {
      &::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(249 251 253);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 50px;
      }
      &:hover::-webkit-scrollbar {
        opacity: 1; /* Hiển thị scrollbar khi hover */
      }

      &:hover::-webkit-scrollbar-thumb {
        background-color: #ececec; /* Đổi màu khi hover */
      }
    }
    .nav-active {
      background: #0f172a;
      color: white;
      border-radius: 0.5rem;
    }
    .sub-menu {
      display: flex;
      & > div {
        width: 100%;
      }
      &_list {
        padding-left: 10px;
        margin-top: 12px;
        border-left: 2px solid #0f172a;
        padding-bottom: 0;
        margin-left: 25px;
        width: calc(100% - 27px);
        display: flex;
        flex-flow: column;
        a {
          padding: 8px 12px;
          border-radius: 8px;
          margin-bottom: 4px;
          width: 100%;
          transition: all 0.2s ease-in-out;
        }
        a:hover {
          background-color: #0f172a;
          color: white;
        }
        .nav-link_active {
          background-color: #0f172a;
          color: white;
        }
      }
    }
  }
}
