@tailwind base;
@tailwind utilities;
@tailwind components;

.hidden-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.hidden-scrollbar ::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}
.hidden-scrollbar::-webkit-scrollbar-thumb {
  display: none !important;
}
.overflow-x-scroll {
  overflow-x: scroll !important;
}

/* https://tailwindcss.com/docs/text-color */
/* .text-gray {
  color: rgb(156 163 175);
}
.mr-2 {
  margin-right: 0.625rem;
}
.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
} */
