.filter_popover_content {
  position: relative !important;
  z-index: 2!important;
  &::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  :global {
    .content-filter {
      &::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(249 251 253);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 50px;
      }
      &:hover::-webkit-scrollbar {
        opacity: 1; /* Hiển thị scrollbar khi hover */
      }

      &:hover::-webkit-scrollbar-thumb {
        background-color: #0000004a; /* Đổi màu khi hover */
      }
    }
  }
}