.isMobile {
  [vaul-overlay] {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  [vaul-drawer] {
    z-index: 999;
    width: 100vw;
  }
}

.c-bts {
  &__title {
    font-weight: bold;
    font-size: 1.3em;
  }
  &__close {
    display: block;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #adadad;
    margin-right: -0.5em;
  }
  &__header {
    background-color: #f2f2f6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 1px 0 #dbdbde;
    padding: 1em;
  }

  &__content {
    max-height: 60vh;
    height: 60vh;
    overflow-y: scroll;
    background-color: #fff;
  }

  &__footer {
    background-color: #f2f2f6;
    padding: 1em;
  }
}

[vaul-drawer]:focus-visible {
  outline: none;
}

.innerView {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
