.profile_detail_wrapper {
  display: flex;
  flex-direction: column;
  :global {
    .profile-image {
      width: calc(100vw - 10px);
    }
    .profile-content_avatar {
      transition:
        opacity 0.5s ease,
        transform 0.5s ease;
    }
    .show_avatar {
      opacity: 1;
      visibility: visible;
    }
    .hidden_avatar {
      opacity: 0;
      visibility: hidden;
    }
  }
}
